:host {
  width: 45%;
  height: 100%;
}

.list,
.mat-mdc-card-content {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.mat-mdc-card {
  height: 100%;
  background-color: whitesmoke;
  overflow-y: auto;
}

// .list__item {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
