<mat-card>
  <mat-card-content>
    <ul
      class="list"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="todolist"
      [id]="listId"
      [cdkDropListConnectedTo]="secondListId">
      <li
        class="list__item"
        *ngFor="let item of todolist"
        draggable="true"
        cdkDrag>
        <mat-checkbox
          color="primary"
          [checked]="item.status === 'done'"
          [appCross]="item.status"
          (change)="changeItemStatus(item)"
          >{{ item.task }}</mat-checkbox
        >
        <button
          mat-icon-button
          aria-label="Remove item"
          class="remove-btn"
          (click)="removeItem(item)">
          <mat-icon>backspace</mat-icon>
        </button>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
