:host{
  flex-grow: 1;
  padding: 20px 150px;
  height: 100%;
  overflow: auto;

  @media (max-width: 1245px) {
    padding: 20px 50px;
  }

  @media (max-width: 576px) {
    padding: 10px 20px;
  }
}

.company-table {
  width: 100%;
  box-shadow: none;
  transition: margin-top 1s;

  &.filters_hidden {
    margin-top: -56px;
  }
}

.table {
  height: fit-content;
  width: fit-content;
  margin-top: 20px;
  overflow-x: hidden;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title{
  text-align: center;
  margin: auto;

  @media (max-width: 766px) {
    font-size: 16px;
  }
}

.mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
  @media (max-width: 766px) {
    height: auto;
  }
}

.mdc-button--raised {
  min-width: auto;

  @media (max-width: 766px) {
    padding: 4px;
  }
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  @media (max-width: 766px) {
    padding: 0 8px;
    font-size: 12px;
    line-height: 110%;
  }

  @media (max-width: 576px) {
    padding: 0 6px;
    line-height: 105%;
  }
}

.company-name{
  word-wrap: break-word;
}

@media (max-width: 576px) {
  .mat-mdc-table {
    table-layout: fixed;
  }

  .position {
     width: 10%;
  }

  .mat-mdc-header-cell {
    cursor: pointer;
  }
}

.collapsed{
  width: 15px;

  &.mat-mdc-header-cell{
    writing-mode: vertical-rl;
  }
}

.checkbox-list {
  display: flex;
  flex-direction: column;
}

.btn {
  color: gray ;
  display: flex;
  align-items: center;
  justify-content: center;

  &.mat-mdc-icon-button {
    &.mat-mdc-button-base {
    padding: 3px;
    height: 30px;
    width: 30px;

    @media (max-width: 766px) {
      height: 25px;
      width: 25px;
    }
    }
  }

  .mat-icon {
    width: auto;
    height: auto;
  }

  .material-icons{
    font-size: 18px;

    @media (max-width: 766px) {
      font-size: 14px;
    }
  }
}

.edit{
  @media (max-width: 766px) {
    width: 40px;
  }
}

.btn-container {
  display: flex;
  gap: 10px;

  .add-btn,
  .edit-all-btn{
    position: relative;
    z-index: 0;
  }
}

.filters{
  th{
    padding: 0 4px;
  }
}

.sales,
.assets,
.profit{
  display: flex;
  flex-direction: column;

  &__inputs{
    display: flex;
  }
}

.reset-btn{
  &.mdc-button{
    font-size: 12px;
  }
}

.filter-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;

  &.mat-mdc-raised-button>.mat-icon {
    margin-left: 0;
    margin-right: 0;
    color: gray;
  }
}
