:host {
  width: 100%;
  height: fit-content;
}

.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 4px gray;
  border-radius: 20px;
  color: #3f51b5;
  transition: .5s;

  &:hover {
    transform: rotate3d(0.1, 0.1, 0, 20deg);
  }

  &:has(.expandable) {
    &:hover {
      transform: none;
    }
  }
}

.main-block{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.album-cover{
  width: 30%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border: 1px solid #3f51b571;
  border-radius: 20px;
}

.expandable{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #3f51b571;
  border-radius: 20px;

  & > * {
    width: 100%;
  }
}

.songs-list {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 4px;

  & > li {
    cursor: pointer;
    display: block;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 1px solid #3f51b571;
    transition: .3s;

    &:nth-child(5n - 1) {
      grid-column: 2;
    }

    &:hover {
      box-shadow: inset 1px 1px 2px gray;
      transform: scale(1.03);
    }
  }
}
