html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*{
  box-sizing: border-box;
}

h1,
p,
ul,
h3,
h4 {
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

// Angular material fixes

// -Todo

.mdc-text-field {
  padding: 0 10px !important;
}

.mat-mdc-form-field-infix{
  min-height: auto;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 20px;
  padding-bottom: 2px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom: none;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 8px;
}

.list__item {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
    font-size: 14px;
    line-height: 20px;
  }
}

.input-form{
  .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after{
    content: '';
  }
}

// -Tables

.flag-checkbox{
  .mdc-form-field {
    @media (max-width: 766px) {
      font-size: 12px;
      line-height: 110%;
    }
  }

  &.mat-mdc-checkbox .mdc-checkbox{
    padding: 5px;
    margin: 0;

    @media (max-width: 766px) {
      padding: 4px;
    }

    .mdc-checkbox__native-control {
      width: 30px;
      height: 30px;

      @media (max-width: 766px) {
        width: 22px;
        height: 22px;
      }
    }

    .mdc-checkbox__background{
      top: calc((30px - 18px) / 2);
      left: calc((30px - 18px) / 2);

      @media (max-width: 766px) {
        top: calc((22px - 14px) / 2);
        left: calc((22px - 14px) / 2);
        width: 14px;
        height: 14px;
      }
    }
  }

  .mdc-checkbox{
    flex: auto;
    box-sizing: border-box;
    width: 30px;
    height: 30px;

    @media (max-width: 766px) {
      width: 22px;
      height: 22px;
    }
  }

  .mat-mdc-checkbox-touch-target{
    height: 30px;
    width: 30px;

    @media (max-width: 766px) {
      width: 26px;
      height: 26px;
    }
  }
}

.btn {
  &.mat-mdc-icon-button .mat-mdc-button-touch-target{
    height: 30px;
    width: 30px;
  }
}

.filters{
  .mat-mdc-form-field{
    font-size: 12px;
    width: auto;
    min-width: 0;
    line-height: normal;

    .mat-mdc-form-field-subscript-wrapper{
      display: none;
    }

    .mat-mdc-form-field-infix{
      width: auto;
      padding: 7px 0;
    }

    .mat-mdc-floating-label{
      font-size: 12px;
      top: auto;
      left: auto;
      right: auto;
      transform: none;
      line-height: normal;
      width: 100%;
      text-overflow: ellipsis;
    }

    .mdc-text-field--filled .mdc-floating-label--float-above{
      transform: none;
      display: none;
    }

    .mat-mdc-icon-button.mat-mdc-button-base{
      width: 28px;
      height: 28px;
      padding: 2px;
    }
  }

  .mat-mdc-select{
    font-size: inherit;
    line-height: normal;
  }

  .mat-mdc-select-arrow-wrapper{
    height: auto;

    svg{
      height: 12px;
      width: 12px;
    }
  }

  .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper{
    transform: none;
  }

  .mat-mdc-form-field-type-mat-select{
    width: 100%;

    .mdc-text-field{
      padding: 0 5px !important;
    }
  }

  .profit,
  .sales,
  .assets {
    .mat-mdc-form-field-type-mat-select{
      width: auto;

      .mdc-text-field{
        padding: 0 3px !important;
        width: 30px;
      }
    }
  }
}

//Remove arrows for number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
